<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Assassin_BattleStand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_BattleStand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{1,225},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_BattleStand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{285,1},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_BattleStand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{285,225},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_BattleStand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{569,1},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_BattleStand_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{569,225},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_BattleStand_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{853,1},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_BattleStand_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{853,225},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Assassin_BattleStand.png</string>
            <key>size</key>
            <string>{1134,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e505b39d1d5f98c67913de52d6581771:8375fa6f824c4cf8cf0fd40a2cee4661:213072a0d72d560de7c7d5bd8fc2038f$</string>
            <key>textureFileName</key>
            <string>Assassin_BattleStand.png</string>
        </dict>
    </dict>
</plist>
