<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Assassin_Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{1,225},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{285,1},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{285,225},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{569,1},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{569,225},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{853,1},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{853,225},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{1137,1},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{1137,225},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{1421,1},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Assassin_Attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,220}</string>
                <key>spriteSourceSize</key>
                <string>{280,220}</string>
                <key>textureRect</key>
                <string>{{1421,225},{280,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Assassin_Attack.png</string>
            <key>size</key>
            <string>{1702,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9007185f959a280221adf316eb842b1:02b1edb309865225e978b6fda6b163a7:cb14308f981b769a1cf5fd98350a59bb$</string>
            <key>textureFileName</key>
            <string>Assassin_Attack.png</string>
        </dict>
    </dict>
</plist>
