<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{537,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,226}}</string>
                <key>sourceSize</key>
                <string>{537,226}</string>
            </dict>
            <key>arena_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,330},{292,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,302}}</string>
                <key>sourceSize</key>
                <string>{292,302}</string>
            </dict>
            <key>arena_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,714},{104,98}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{104,98}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>arena_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{220,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,144}}</string>
                <key>sourceSize</key>
                <string>{220,144}</string>
            </dict>
            <key>arena_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,634},{78,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,130}}</string>
                <key>sourceSize</key>
                <string>{78,130}</string>
            </dict>
            <key>arena_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,392}}</string>
                <key>sourceSize</key>
                <string>{464,392}</string>
            </dict>
            <key>arena_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,624},{124,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,104}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>arena_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,624},{160,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,188}}</string>
                <key>sourceSize</key>
                <string>{160,188}</string>
            </dict>
            <key>arena_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{296,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,326}}</string>
                <key>sourceSize</key>
                <string>{296,326}</string>
            </dict>
            <key>arena_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{210,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,18}}</string>
                <key>sourceSize</key>
                <string>{210,18}</string>
            </dict>
            <key>arena_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{204,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{204,12}}</string>
                <key>sourceSize</key>
                <string>{210,18}</string>
            </dict>
            <key>arena_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,730},{104,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{104,98}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>arena_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,634},{104,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{104,98}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>arena_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,734},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>townmap_158.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,734},{92,84}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{92,84}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ladder.png</string>
            <key>size</key>
            <string>{835,835}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f68ccde555bbba92340c8fa8bdac3c14:1/1$</string>
            <key>textureFileName</key>
            <string>ladder.png</string>
        </dict>
    </dict>
</plist>
