<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Angry_Kobold_Stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{145,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Stand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{289,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Stand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{433,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Stand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{577,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Stand_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{721,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Stand_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{865,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Stand_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{1009,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Angry_Kobold_Stand.png</string>
            <key>size</key>
            <string>{1150,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b7f995ccac4511150c0034301a15a6:9fe82d179b78b7e0d1df358d68ca7c87:41aef3e1d41d97448986e44cbfd1f30b$</string>
            <key>textureFileName</key>
            <string>Angry_Kobold_Stand.png</string>
        </dict>
    </dict>
</plist>
