<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Angry_Kobold_Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,140}</string>
                <key>spriteSourceSize</key>
                <string>{220,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,140}</string>
                <key>spriteSourceSize</key>
                <string>{220,140}</string>
                <key>textureRect</key>
                <string>{{225,1},{220,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,140}</string>
                <key>spriteSourceSize</key>
                <string>{220,140}</string>
                <key>textureRect</key>
                <string>{{449,1},{220,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,140}</string>
                <key>spriteSourceSize</key>
                <string>{220,140}</string>
                <key>textureRect</key>
                <string>{{673,1},{220,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,140}</string>
                <key>spriteSourceSize</key>
                <string>{220,140}</string>
                <key>textureRect</key>
                <string>{{897,1},{220,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,140}</string>
                <key>spriteSourceSize</key>
                <string>{220,140}</string>
                <key>textureRect</key>
                <string>{{1121,1},{220,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,140}</string>
                <key>spriteSourceSize</key>
                <string>{220,140}</string>
                <key>textureRect</key>
                <string>{{1345,1},{220,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Angry_Kobold_Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,140}</string>
                <key>spriteSourceSize</key>
                <string>{220,140}</string>
                <key>textureRect</key>
                <string>{{1569,1},{220,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Angry_Kobold_Attack.png</string>
            <key>size</key>
            <string>{1790,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03d99f58067119e05006139fec937a2:5c8fda81d0dce124dac1b7dd96ab900a:c233b0ef5c103ceb34ff222721a74075$</string>
            <key>textureFileName</key>
            <string>Angry_Kobold_Attack.png</string>
        </dict>
    </dict>
</plist>
