<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AngelWing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{1,205},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{145,1},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{145,205},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{289,1},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{289,205},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{433,1},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{433,205},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{577,1},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{577,205},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{721,1},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{721,205},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{865,1},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{865,205},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{1009,1},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{1009,205},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{1153,1},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{1153,205},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{1297,1},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AngelWing_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{1297,205},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AngelWing.png</string>
            <key>size</key>
            <string>{1438,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a96f951636a46cad00ae53adfa6d920d:e09fdd2563e9b8567df6892e54433435:a56d04cfc43d7d04fd566ac89e2a7fd4$</string>
            <key>textureFileName</key>
            <string>AngelWing.png</string>
        </dict>
    </dict>
</plist>
