<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anger_Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,320}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anger_Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,320}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,325},{300,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anger_Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,320}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{300,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anger_Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,320}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{609,1},{300,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anger_Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,320}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{305,325},{300,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anger_Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,320}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{609,325},{300,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anger_Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,320}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,649},{300,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anger_Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,320}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{325,649},{300,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Anger_Attack.png</string>
            <key>size</key>
            <string>{910,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:146a2e33de28055e165813eb1943decc:90711ead73a67b29665d25f2dc54ca65:0e18652ec5e250add162f980f57182e1$</string>
            <key>textureFileName</key>
            <string>Anger_Attack.png</string>
        </dict>
    </dict>
</plist>
