<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XieMo_Walk_A_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_A_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{255,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_A_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{509,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_A_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{763,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_A_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1017,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_A_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1271,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_A_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1525,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_A_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1779,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XieMo_Walk_A.png</string>
            <key>size</key>
            <string>{2030,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc106ab7d3d01eadf36bed47bf552b4c:d10900b461060053ff47718617dffe27:ce04a6048b5857888114e03c45871f81$</string>
            <key>textureFileName</key>
            <string>XieMo_Walk_A.png</string>
        </dict>
    </dict>
</plist>
