<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XieMo_Walk_B_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_B_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{255,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_B_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{509,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_B_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{763,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_B_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1017,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_B_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1271,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_B_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1525,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Walk_B_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1779,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XieMo_Walk_B.png</string>
            <key>size</key>
            <string>{2030,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:335d4fbd2140be063dd58e9807b5bb7b:48c511fe20e7ac1948c7aa0628b64cea:e6fcca7717f89e702ac3ecf342b7e284$</string>
            <key>textureFileName</key>
            <string>XieMo_Walk_B.png</string>
        </dict>
    </dict>
</plist>
