<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XieMo_L_b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,255},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,509},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_b_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,763},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_b_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,1017},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_b_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,1271},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_b_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,1525},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_b_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,1779},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XieMo_L_b.png</string>
            <key>size</key>
            <string>{202,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4177f578c2cf8ad7176994df62d501ce:21b86a2330101a6e35c73731af363708:fd451930305fa94e99c60d24abcee080$</string>
            <key>textureFileName</key>
            <string>XieMo_L_b.png</string>
        </dict>
    </dict>
</plist>
