<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XieMo_Attack_C_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_C_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,335},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_C_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,669},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_C_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1003},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_C_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1337},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_C_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1671},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XieMo_Attack_C.png</string>
            <key>size</key>
            <string>{462,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f62ffaab4d4bc28ce638cd2dfe23a223:ab7aa33b72b4bb96e97335f0b93fcb31:d23351f2844929ee102c58bf5713c295$</string>
            <key>textureFileName</key>
            <string>XieMo_Attack_C.png</string>
        </dict>
    </dict>
</plist>
