<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XieMo_L_a_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_a_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1,225},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_a_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1,449},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_a_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1,673},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_a_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1,897},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_a_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1,1121},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_a_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1,1345},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_L_a_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1,1569},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XieMo_L_a.png</string>
            <key>size</key>
            <string>{302,1790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:968c6745dab12fcb27c576c9d422762d:e628ae765921d7ff4f8edf905a3622c4:76986a20c2e9ef1009a40d561330cdf5$</string>
            <key>textureFileName</key>
            <string>XieMo_L_a.png</string>
        </dict>
    </dict>
</plist>
