<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XieMo_Attack_A_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_A_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,335},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_A_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,669},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_A_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1003},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_A_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1337},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_A_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1671},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XieMo_Attack_A.png</string>
            <key>size</key>
            <string>{462,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c17d93a236fc4a673026d455a093656:ff94b1c473f271d6a550300a3a703211:dd1035c855bbb851a0aacb7fb4909601$</string>
            <key>textureFileName</key>
            <string>XieMo_Attack_A.png</string>
        </dict>
    </dict>
</plist>
