<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XieMo_Attack_D_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_D_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{465,1},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XieMo_Attack_D.png</string>
            <key>size</key>
            <string>{926,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c8a92085d6c24b5ba41c1fa297f2aeb:9b53787997a4c53604479ed9e7c30252:f2b5ff7b77397429696e1b390df24299$</string>
            <key>textureFileName</key>
            <string>XieMo_Attack_D.png</string>
        </dict>
    </dict>
</plist>
