<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XieMo_Attack_B_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_B_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,335},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_B_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,669},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_B_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1003},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_B_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1337},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XieMo_Attack_B_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,330}</string>
                <key>spriteSourceSize</key>
                <string>{460,330}</string>
                <key>textureRect</key>
                <string>{{1,1671},{460,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XieMo_Attack_B.png</string>
            <key>size</key>
            <string>{462,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75a88c12bea7ece3245e9eb8a2d86c7d:ee6256f4a94c457cbec8e3570365a3bb:669d5a8952a604d6413115bd03364787$</string>
            <key>textureFileName</key>
            <string>XieMo_Attack_B.png</string>
        </dict>
    </dict>
</plist>
