<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CannibalRat_Worship_Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Worship_Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,135},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Worship_Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,269},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Worship_Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,403},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Worship_Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,537},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Worship_Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,671},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Worship_Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,805},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Worship_Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,939},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Worship_Attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,1073},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CannibalRat_Worship_Attack.png</string>
            <key>size</key>
            <string>{232,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16b7397ce5b4fe9cf84940498167b2b:11d7670e1927a83b0c92883091be1b3f:d84bf0ffa9a1e1aeeb9071d108c6908a$</string>
            <key>textureFileName</key>
            <string>CannibalRat_Worship_Attack.png</string>
        </dict>
    </dict>
</plist>
