<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CannibalRat_Worship_Wound_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,130}</string>
                <key>spriteSourceSize</key>
                <string>{230,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CannibalRat_Worship_Wound.png</string>
            <key>size</key>
            <string>{232,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11c80c3b0d7c08a6243fffe593239fc8:f998d3897c62c3219e9cba61bd498bb9:bde255d5d48d29334d9c07060d7a7fe0$</string>
            <key>textureFileName</key>
            <string>CannibalRat_Worship_Wound.png</string>
        </dict>
    </dict>
</plist>
