<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CannibalRat_Guard_2_Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_2_Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{265,1},{260,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CannibalRat_Guard_2_Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,175},{260,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_2_Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{265,265},{260,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CannibalRat_Guard_2_Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,349},{260,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_2_Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,523},{260,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_2_Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{265,529},{260,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CannibalRat_Guard_2_Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,697},{260,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CannibalRat_Guard_2_Attack.png</string>
            <key>size</key>
            <string>{436,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2367aaa54831e75d83d05337d844374:7ac8391bba583854bd132b4801e1ce3e:3c3b47d4fe10c4bd4c9908a7f869370d$</string>
            <key>textureFileName</key>
            <string>CannibalRat_Guard_2_Attack.png</string>
        </dict>
    </dict>
</plist>
