<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CannibalRat_Guard_2_BeiJi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{260,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CannibalRat_Guard_2_BeiJi.png</string>
            <key>size</key>
            <string>{262,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9963708c87cc8ab2ff876391d65de8fd:834f5ae491262b3fc44da43dc29a3852:961daaa806f3084e6d8a8fe44bbe89e2$</string>
            <key>textureFileName</key>
            <string>CannibalRat_Guard_2_BeiJi.png</string>
        </dict>
    </dict>
</plist>
