<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaHaMuTe_BeiJi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,240}</string>
                <key>spriteSourceSize</key>
                <string>{300,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BaHaMuTe_BeiJi.png</string>
            <key>size</key>
            <string>{302,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd2b40a5170a97d15284b3ae79c0e7ac:b1d3fd917a804996ee5941a85fe386b6:b444cef1faf490a4e10d4d289d7adfea$</string>
            <key>textureFileName</key>
            <string>BaHaMuTe_BeiJi.png</string>
        </dict>
    </dict>
</plist>
