<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaHaMuTe_Huo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,170}</string>
                <key>spriteSourceSize</key>
                <string>{350,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Huo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,170}</string>
                <key>spriteSourceSize</key>
                <string>{350,170}</string>
                <key>textureRect</key>
                <string>{{1,175},{350,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Huo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,170}</string>
                <key>spriteSourceSize</key>
                <string>{350,170}</string>
                <key>textureRect</key>
                <string>{{1,349},{350,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Huo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,170}</string>
                <key>spriteSourceSize</key>
                <string>{350,170}</string>
                <key>textureRect</key>
                <string>{{1,523},{350,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Huo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,170}</string>
                <key>spriteSourceSize</key>
                <string>{350,170}</string>
                <key>textureRect</key>
                <string>{{1,697},{350,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Huo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,170}</string>
                <key>spriteSourceSize</key>
                <string>{350,170}</string>
                <key>textureRect</key>
                <string>{{1,871},{350,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Huo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,170}</string>
                <key>spriteSourceSize</key>
                <string>{350,170}</string>
                <key>textureRect</key>
                <string>{{1,1045},{350,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Huo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,170}</string>
                <key>spriteSourceSize</key>
                <string>{350,170}</string>
                <key>textureRect</key>
                <string>{{1,1219},{350,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Huo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,170}</string>
                <key>spriteSourceSize</key>
                <string>{350,170}</string>
                <key>textureRect</key>
                <string>{{1,1393},{350,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BaHaMuTe_Huo.png</string>
            <key>size</key>
            <string>{352,1564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9802c4b0cb8d98978ef9b58dd3fa0010:3d445599e5885b139ac430e0a7f02036:e8263537b9261e3b3e30d649e5194e25$</string>
            <key>textureFileName</key>
            <string>BaHaMuTe_Huo.png</string>
        </dict>
    </dict>
</plist>
