<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaHaMuTe_Stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,200}</string>
                <key>spriteSourceSize</key>
                <string>{230,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,200}</string>
                <key>spriteSourceSize</key>
                <string>{230,200}</string>
                <key>textureRect</key>
                <string>{{235,1},{230,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Stand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,200}</string>
                <key>spriteSourceSize</key>
                <string>{230,200}</string>
                <key>textureRect</key>
                <string>{{469,1},{230,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Stand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,200}</string>
                <key>spriteSourceSize</key>
                <string>{230,200}</string>
                <key>textureRect</key>
                <string>{{703,1},{230,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Stand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,200}</string>
                <key>spriteSourceSize</key>
                <string>{230,200}</string>
                <key>textureRect</key>
                <string>{{937,1},{230,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Stand_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,200}</string>
                <key>spriteSourceSize</key>
                <string>{230,200}</string>
                <key>textureRect</key>
                <string>{{1171,1},{230,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Stand_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,200}</string>
                <key>spriteSourceSize</key>
                <string>{230,200}</string>
                <key>textureRect</key>
                <string>{{1405,1},{230,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaHaMuTe_Stand_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,200}</string>
                <key>spriteSourceSize</key>
                <string>{230,200}</string>
                <key>textureRect</key>
                <string>{{1639,1},{230,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BaHaMuTe_Stand.png</string>
            <key>size</key>
            <string>{1870,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95c140f6347bd68f29035add974b6a26:1e47d33a4d6984e4992380ffabbc5d63:f079dd4a5e410c78bcf2d3443f8a3af1$</string>
            <key>textureFileName</key>
            <string>BaHaMuTe_Stand.png</string>
        </dict>
    </dict>
</plist>
