<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>choose role_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{532,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,378}}</string>
                <key>sourceSize</key>
                <string>{532,378}</string>
            </dict>
            <key>choose role_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{490,92}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,92}}</string>
                <key>sourceSize</key>
                <string>{490,110}</string>
            </dict>
            <key>choose role_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,434},{486,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{486,108}}</string>
                <key>sourceSize</key>
                <string>{490,110}</string>
            </dict>
            <key>choose server_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,442}}</string>
                <key>sourceSize</key>
                <string>{530,442}</string>
            </dict>
            <key>choose server_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,434},{20,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,242}}</string>
                <key>sourceSize</key>
                <string>{20,242}</string>
            </dict>
            <key>choose server_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>choose server_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{30,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,800}}</string>
                <key>sourceSize</key>
                <string>{30,800}</string>
            </dict>
            <key>choose server_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{30,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,800}}</string>
                <key>sourceSize</key>
                <string>{30,800}</string>
            </dict>
            <key>choose server_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,434},{430,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,70}}</string>
                <key>sourceSize</key>
                <string>{430,70}</string>
            </dict>
            <key>choose server_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{430,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,70}}</string>
                <key>sourceSize</key>
                <string>{430,70}</string>
            </dict>
            <key>choose server_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{430,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,70}}</string>
                <key>sourceSize</key>
                <string>{430,70}</string>
            </dict>
            <key>choose server_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{430,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,70}}</string>
                <key>sourceSize</key>
                <string>{430,70}</string>
            </dict>
            <key>choose server_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{424,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{424,50}}</string>
                <key>sourceSize</key>
                <string>{430,70}</string>
            </dict>
            <key>choose server_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,826},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>chooserole_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,866},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>chooserole_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,678},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chooseServer.png</string>
            <key>size</key>
            <string>{922,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38d633a44fb9c9e4ca83dabd7c5b0fba:1/1$</string>
            <key>textureFileName</key>
            <string>chooseServer.png</string>
        </dict>
    </dict>
</plist>
