<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,792}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,792}}</string>
                <key>sourceSize</key>
                <string>{588,792}</string>
            </dict>
            <key>login_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{276,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{276,58}}</string>
                <key>sourceSize</key>
                <string>{280,60}</string>
            </dict>
            <key>login_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{30,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,366}}</string>
                <key>sourceSize</key>
                <string>{30,366}</string>
            </dict>
            <key>login_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{30,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,366}}</string>
                <key>sourceSize</key>
                <string>{30,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{920,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea043b69914fbfe2e4e0a7447faef27c:1/1$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
