<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CannibalRat_Guard_Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,205},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,409},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,613},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,817},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,1021},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,1225},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,1429},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Guard_Attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,1633},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CannibalRat_Guard_Attack.png</string>
            <key>size</key>
            <string>{252,1834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b56d0c09629c8d78f9ef05dea1cd781:abbde5138277394abbdd439f3ffc0c04:3f371f584dd89b4a04944c304ec9dc6b$</string>
            <key>textureFileName</key>
            <string>CannibalRat_Guard_Attack.png</string>
        </dict>
    </dict>
</plist>
