<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CannibalRat_Guard_Wound_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CannibalRat_Guard_Wound.png</string>
            <key>size</key>
            <string>{252,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:505a2a57db379653f8e62953e4179f8f:3493c64a5e1d9eb61a9f24f968d05fbc:20ac28f1b4be392771978c4bc6153ee3$</string>
            <key>textureFileName</key>
            <string>CannibalRat_Guard_Wound.png</string>
        </dict>
    </dict>
</plist>
