<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CannibalRat_Sodier_Stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Sodier_Stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{165,1},{160,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Sodier_Stand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{329,1},{160,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Sodier_Stand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{493,1},{160,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Sodier_Stand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{657,1},{160,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Sodier_Stand_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{821,1},{160,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Sodier_Stand_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{985,1},{160,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Sodier_Stand_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{1149,1},{160,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_Sodier_Stand_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{1313,1},{160,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CannibalRat_Sodier_Stand.png</string>
            <key>size</key>
            <string>{1474,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12022d2feeab71b821f7b6de698eab84:1e53ff2b30d31599f0af763b1f95758e:dab7470111ededac8e3cad9d3136349e$</string>
            <key>textureFileName</key>
            <string>CannibalRat_Sodier_Stand.png</string>
        </dict>
    </dict>
</plist>
