<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boar_Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boar_Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{205,1},{200,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boar_Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{409,1},{200,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boar_Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{613,1},{200,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boar_Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{817,1},{200,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boar_Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{1021,1},{200,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boar_Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{1225,1},{200,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boar_Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{1429,1},{200,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boar_Attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{1633,1},{200,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boar_Attack.png</string>
            <key>size</key>
            <string>{1834,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0c0e65069dd7a12512c2bf1dec875a1:6275afbdca5ffe803987945cd310e37a:248dcb33c602164cb02e492e17491594$</string>
            <key>textureFileName</key>
            <string>Boar_Attack.png</string>
        </dict>
    </dict>
</plist>
