<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WuKong_Stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WuKong_Stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{245,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WuKong_Stand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{245,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WuKong_Stand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{489,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WuKong_Stand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{733,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WuKong_Stand_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{733,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WuKong_Stand_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{977,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WuKong_Stand_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{1221,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WuKong_Stand.png</string>
            <key>size</key>
            <string>{1462,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba42e5f7076c083c98f123ed73dc0755:e738b36705d68899e4c15dfa5994f8f3:dd5f45f3ba1e94ec00358989403fecac$</string>
            <key>textureFileName</key>
            <string>WuKong_Stand.png</string>
        </dict>
    </dict>
</plist>
