<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Captain_Stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,130}</string>
                <key>textureRect</key>
                <string>{{185,1},{180,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Stand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,130}</string>
                <key>textureRect</key>
                <string>{{369,1},{180,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Captain_Stand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,130}</string>
                <key>textureRect</key>
                <string>{{1,135},{180,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Stand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,130}</string>
                <key>textureRect</key>
                <string>{{185,135},{180,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Stand_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,130}</string>
                <key>textureRect</key>
                <string>{{369,185},{180,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Captain_Stand_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,130}</string>
                <key>textureRect</key>
                <string>{{1,269},{180,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Stand_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,130}</string>
                <key>textureRect</key>
                <string>{{185,269},{180,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Captain_Stand.png</string>
            <key>size</key>
            <string>{500,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:519759ac4999e3d5a671c9e9e7a857ba:187256c3824817ce871d81b9985c050a:f4715ef08c5a3feef49e011fe7b0ff00$</string>
            <key>textureFileName</key>
            <string>Captain_Stand.png</string>
        </dict>
    </dict>
</plist>
