<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Captain_Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{230,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{230,180}</string>
                <key>textureRect</key>
                <string>{{1,185},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{230,180}</string>
                <key>textureRect</key>
                <string>{{1,369},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{230,180}</string>
                <key>textureRect</key>
                <string>{{1,553},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{230,180}</string>
                <key>textureRect</key>
                <string>{{1,737},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{230,180}</string>
                <key>textureRect</key>
                <string>{{1,921},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{230,180}</string>
                <key>textureRect</key>
                <string>{{1,1105},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{230,180}</string>
                <key>textureRect</key>
                <string>{{1,1289},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captain_Attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{230,180}</string>
                <key>textureRect</key>
                <string>{{1,1473},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Captain_Attack.png</string>
            <key>size</key>
            <string>{232,1654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0282040defcfb31faf9c23b502c4b759:6304a077262222b37111cb63d9acd555:4837e3aa372f2650c56f92a17f61b28a$</string>
            <key>textureFileName</key>
            <string>Captain_Attack.png</string>
        </dict>
    </dict>
</plist>
