<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CannibalRat_O_Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_O_Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,210}</string>
                <key>textureRect</key>
                <string>{{1,215},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_O_Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,210}</string>
                <key>textureRect</key>
                <string>{{1,429},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_O_Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,210}</string>
                <key>textureRect</key>
                <string>{{1,643},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_O_Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,210}</string>
                <key>textureRect</key>
                <string>{{1,857},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_O_Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,210}</string>
                <key>textureRect</key>
                <string>{{1,1071},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_O_Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,210}</string>
                <key>textureRect</key>
                <string>{{1,1285},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_O_Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,210}</string>
                <key>textureRect</key>
                <string>{{1,1499},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CannibalRat_O_Attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,210}</string>
                <key>textureRect</key>
                <string>{{1,1713},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CannibalRat_O_Attack.png</string>
            <key>size</key>
            <string>{182,1924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6016411ad71b25a5eacfe48dd2f89f33:50e4510eb3f6e9239e9edbcb110ad123:fa741ce8940716b93559e315a64d9985$</string>
            <key>textureFileName</key>
            <string>CannibalRat_O_Attack.png</string>
        </dict>
    </dict>
</plist>
