<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AooDing_Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,212}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AooDing_Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,212}</string>
                <key>textureRect</key>
                <string>{{271,1},{266,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AooDing_Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,212}</string>
                <key>textureRect</key>
                <string>{{1,217},{266,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AooDing_Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,212}</string>
                <key>textureRect</key>
                <string>{{271,271},{266,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AooDing_Attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,212}</string>
                <key>textureRect</key>
                <string>{{1,433},{266,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AooDing_Attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,212}</string>
                <key>textureRect</key>
                <string>{{271,541},{266,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AooDing_Attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,212}</string>
                <key>textureRect</key>
                <string>{{1,649},{266,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AooDing_Attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,212}</string>
                <key>textureRect</key>
                <string>{{271,811},{266,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AooDing_Attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,212}</string>
                <key>textureRect</key>
                <string>{{1,865},{266,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AooDing_Attack.png</string>
            <key>size</key>
            <string>{484,1078}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac618a06a27097b523644506e7c058fe:bc0f1a12f77d9989788b44bc0a7976f1:6311af365caeab6abae701a52e32a7c3$</string>
            <key>textureFileName</key>
            <string>AooDing_Attack.png</string>
        </dict>
    </dict>
</plist>
