<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AooDing_Wound_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,212}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AooDing_Wound.png</string>
            <key>size</key>
            <string>{268,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a72b29d754fb65c7461480584585849b:c46cbe3e0971bb2d32111ca4254811a4:7e4daa334a767a566db40d7514c11e6b$</string>
            <key>textureFileName</key>
            <string>AooDing_Wound.png</string>
        </dict>
    </dict>
</plist>
